.container-fluid {
    margin-top: 70px;
}

:host {
  --sidebar-desktop-width: 19rem;
}

.content-area {
    background-image: url('../../assets/images/fondo-poli-10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;

}

.oculto {
    visibility: hidden;
}





.sidebar-fixed {
  position: fixed;
  height: 100vh;
  width: var(--sidebar-desktop-width);
  background: linear-gradient(180deg,
            #dbecf4,
            #508bb3);
}





@media (min-width: 1200px) {
  .content-area {
    margin-left: var(--sidebar-desktop-width);
    width: calc(100% - var(--sidebar-desktop-width));
    max-width: calc(100% - var(--sidebar-desktop-width));
  }
}
