<!-- Top bar solo emite el evento -->
<app-top-bar-admin (toggle)="toggleSidebar()"></app-top-bar-admin>

<div class="container-fluid mt-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xl-2 d-none d-xl-block p-0 sidebar-fixed" [hidden]="!sidebarClosed()">
      <app-admin-nav-proveedor></app-admin-nav-proveedor>
    </div>

    <!-- Contenido principal -->
    <div class="col-12 col-xl-10 content-area">
      <app-cards-dashboard-proveedor></app-cards-dashboard-proveedor>
    </div>
  </div>
</div>
