:host {
  display: block;
  --sidebar-desktop-width: 19rem;
}

.admin-layout {
  min-height: 100vh;
}

.sidebar-fixed {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: var(--sidebar-desktop-width);
  background: linear-gradient(180deg, #dbecf4, #508bb3);
}



.content-area {
  position: relative;
  min-height: 100vh;
  padding: clamp(1rem, 0.7vw + 0.9rem, 2rem);
  padding-top: calc(70px + clamp(1rem, 0.7vw + 0.9rem, 2rem));
  overflow: hidden;
}

.content-area::before {
  content: "";
  position: absolute;
  inset: 0;

 background-image: linear-gradient(180deg, rgba(247, 251, 255, 0.94) 0%, rgba(160, 208, 248, 0.9) 100%),
    url('../../assets/images/fondo-poli-10.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  filter: blur(8px);
  transform: scale(1.05); /* evita bordes cortados */
  z-index: -1;
}




@media (min-width: 1200px) {
  .content-area {
    margin-left: var(--sidebar-desktop-width);
    width: calc(100% - var(--sidebar-desktop-width));
    max-width: calc(100% - var(--sidebar-desktop-width));
  }
}

@media (max-width: 1199.98px) {
  .content-area {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}
