<mat-card class="review-card">

    <mat-card-header>

        <div mat-card-avatar class="avatar-container">

            @if (resenia()?.usuario?.fotoPerfil) {
            <img [src]="resenia()?.usuario?.fotoPerfil" class="avatar-img" alt="Foto usuario" />
            }
            @else {
            <div class="avatar-placeholder">
                {{ resenia()?.usuario?.name?.charAt(0) ?? '?' }}
            </div>
            }

        </div>

        <!-- Título -->
        <mat-card-title>
            {{ resenia()?.usuario?.name }}
        </mat-card-title>

        <mat-card-subtitle>
            {{ resenia()?.fotos?.length }} fotos
        </mat-card-subtitle>

    </mat-card-header>

    @for (foto of resenia()?.fotos; track foto.path; let idx = $index) {
    @if (idx === 0) {
    <div class="review-image-wrapper">
        <img [src]="foto?.url" class="review-image" [alt]="resenia()?.comentario">
    </div>
    }
    }



    <mat-card-content>

        <div class="stars mb-2">
            @for (star of [].constructor(resenia()?.puntuacion); track $index) {
            <mat-icon color="warn">star</mat-icon>
            }
        </div>

        <p class="review-text" [class.collapsed]="!expandido()" [class.expandido]="expandido()">
            {{ resenia()?.comentario }}
        </p>

        @if ((resenia()?.comentario?.length ?? 0 ) > 100 ) {
        <button mat-button (click)="toggleExpandido()">
            {{ expandido() ? 'Ver menos' : 'Ver mas' }} 
        </button>
        }

    </mat-card-content>

</mat-card>