:host {
    display: block;
    width: 100%;
}

.card {
    width: 100%;
}

.searcher__submit {
    color: #fff;
    background-color: #f76c6f;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    border-radius: 0.5rem ;
    font-weight: 400;
    margin: 2em 0;
    font-size: 1.13rem;
    border: none;
    display: flex;
    justify-items: flex-end;
}

.presentacion-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
