<app-navbar></app-navbar>
<router-outlet></router-outlet>
<hr class="mb-0">
<app-buscador></app-buscador>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-3 offset-1 d-flex flex-column align-items-start">
            <app-filtro-proveedores></app-filtro-proveedores>
        </div>
        <div class="offset-1 col-6">
            <app-visualizador-proveedores-cards
                (visualizador)="cambiarModo($event)"></app-visualizador-proveedores-cards>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9 offset-2 ">
            <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                @for (empresa of empresas(); track empresa.id) {
                <app-card-proveedores [empresa]="empresa"></app-card-proveedores> 
                 <app-horizontal-card-proveedores [empresa]="empresa"></app-horizontal-card-proveedores>
                }
            </div> -->

            <!-- <div class="row d-flex justify-contend-end">
                @for (empresa of empresas(); track empresa.id) {
                <app-card-proveedores [empresa]="empresa"></app-card-proveedores>
                <app-horizontal-card-proveedores [empresa]="empresa"></app-horizontal-card-proveedores>
                }
            </div> -->

            @if(modo() === 'imagenes'){
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                @for (empresa of empresas(); track empresa.id) {
                <app-card-proveedores [empresa]="empresa"></app-card-proveedores>
                }
            </div>

            }

            @if(modo() === 'listado'){
            <div class="row d-flex justify-contend-end">
                @for (empresa of empresas(); track empresa.id) {
                <app-horizontal-card-proveedores [empresa]="empresa"></app-horizontal-card-proveedores>
                }
            </div>
            }
        </div>
    </div>
</div>