<app-navbar></app-navbar>
<hr class="mb-0">
<app-buscador></app-buscador>
<div class="container-fluid mt-4">
    <div class="row">
        <app-filtro-proveedores></app-filtro-proveedores>
        <div class="col-2">

        </div>
        <div class="col-9 offset-1 ">
            <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-between id ">
                @for (empresa of empresas(); track empresa.id) {
                <app-card-proveedores [empresa]="empresa"></app-card-proveedores>
                }
            </div>
        </div>
    </div>
</div>