
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<hr class="mb-0">
<app-buscador></app-buscador>

<div class="pt-5">
    <div class="row mt-4">

        <!-- Columna vacía solo en móvil -->
        <div class="d-block d-md-none ps-5"></div>
        <div class="col-3 col-xl-3 col-lg-3 col-md-3 ms-4 ps-4 d-flex flex-row flex-nowrap align-items-center">
            <app-filtro-proveedores></app-filtro-proveedores>
        </div>
        <div class="col-xl-8 col-lg-8  ms-4 flex-shrink ">
            <app-visualizador-proveedores-cards
                (visualizador)="cambiarModo($event)"></app-visualizador-proveedores-cards>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5 pt-4">
    <div class="col-9">
        @if(modo() === 'imagenes'){
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            @for (empresa of empresas(); track empresa.id) {
            <app-card-proveedores [empresa]="empresa"></app-card-proveedores>
            }
        </div>
        }

        @if(modo() === 'listado'){
        <div class="d-flex justify-content-center flex-wrap gap-3">
            @for (empresa of empresas(); track empresa.id) {
            <app-horizontal-card-proveedores [empresa]="empresa"></app-horizontal-card-proveedores>
            }
        </div>
        }
    </div>
</div>