<div class="col">
    @if (!empresa()) {
    <div class="card-flip placeholder-glow">
        <div class="card-front card-skeleton">
            <span class="placeholder skeleton-card-img"></span>
        </div>
    </div>
    } @else {
    <div class="card-flip tp-box" [attr.data-side]="flip()"  (click)="toggleFlip()">

        <!-- Carrusel de imágenes -->
        <div id="carousel{{empresa()?.id}}" class="carousel slide card-front" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (imagen of empresa()?.fotos; track imagen.url; let idx = $index) {
                <div class="carousel-item" [class.active]="idx === 0">
                    <img class="card-img-top" [src]="imagen.url" class="d-block w-100" [alt]="empresa()?.usuario?.name">
                </div>
                <div class="card-overlay">
                    <span class="card-category text-center">
                        @for (producto of empresa()?.productos; track producto.nombre; let idx = $index) {
                        @if(idx == 0 || producto.categoria.nombre !== productos()[idx-1].categoria.nombre){
                        {{ producto.categoria.nombre }}
                        }
                        }
                    </span>
                </div>
                }
            </div>
        </div>

        <!-- Info proveedor -->
        <div class="card-back">
            <h6 class=" h6 fw-200 mb-1">{{empresa()?.nombre_empresa}}</h6>
            <p class="card-text text-dark mb-2">{{verTexto()}}</p>
            <span class="text-muted"> {{empresa()?.poblacion?.nombre}}, {{empresa()?.provincia?.nombre}}</span>
            <p class="card-text"><small class="text-secondary">{{empresa()?.telefono}}</small></p>
            <a [routerLink]="['/proveedores/detalles', empresa()?.id]" class="btn btn-outline-pink">Ver detalles</a>
        </div>
    </div>
    }
</div>
