.card-flip {
    perspective: 1000px;
    width: 100%;
    height: 18em;
    cursor: pointer;
}

.card-flip .card-front,
.card-flip .card-back {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-flip .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-flip .card-back {
    background-color: #fff;
    transform: rotateY(180deg);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-flip:hover .card-front {
    transform: rotateY(180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.carousel {
    .carousel-inner {
        height: 18em;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}