:host {
    --sidebar-desktop-width: 19rem;
}

.sidebar-fixed {
    position: fixed;
    height: 100vh;
    width: var(--sidebar-desktop-width);
    background: linear-gradient(180deg,
            #dbecf4,
            #508bb3);
}

@media (min-width: 1200px) {
    .content-area {
        margin-left: var(--sidebar-desktop-width);
        width: calc(100% - var(--sidebar-desktop-width));
        max-width: calc(100% - var(--sidebar-desktop-width));
    }
}
