.sidebar-fixed {
    position: fixed;
    height: 100vh;
    background: linear-gradient(180deg,
            #dbecf4,
            #508bb3);
}

@media (min-width: 992px) {
    .content-area {
        margin-left: 16.6667%;
        /* mismo ancho del sidebar */
    }
}