<app-top-bar-admin (toggle)="toggleSidebar()"></app-top-bar-admin>

<div class="container-fluid mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="d-none d-xl-block p-0 sidebar-fixed" [hidden]="!sidebarClosed()">
            <app-admin-nav-proveedor></app-admin-nav-proveedor>
        </div>

        <!-- Contenido principal -->
        <div class="col-12 content-area">
            <div class="row">

                <div class="col-xl-5 col-lg-5 col-12 col-md-5 col-sm-12">
                    <div class="row text-center g2">
                        <div class="col-6 card-resenia">
                            <app-dashboard-cards-resenias-admin title="Total de Reseñas">
                                <h2>{{ resenias()?.estadisticas?.total }}</h2>
                            </app-dashboard-cards-resenias-admin>
                        </div>
                        <div class="col-6 ">
                            <app-dashboard-cards-resenias-admin title="Puntuacion Media">
                                <h2>{{ resenias()?.estadisticas?.promedio }}</h2>
                            </app-dashboard-cards-resenias-admin>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-7  py-4 py-md-0">
                    <app-dashboard-cards-resenias-admin title="Promedio Valoraciones">

                        @for (item of estrellas(); track item.rating) {
                        <!-- <p> {{item.rating}}</p> -->
                        <div class="rating-row">

                            <div class="stars">
                                @for (star of [].constructor(item.rating); track $index) {
                                <mat-icon>star</mat-icon>
                                }
                            </div>

                            <div class="progress-container">
                                <div class="progress-bar" [style.width.%]="item.porcentaje">
                                </div>
                            </div>

                            <span class="percentage">
                                {{ item.porcentaje }}%
                            </span>

                        </div>
                        }

                    </app-dashboard-cards-resenias-admin>
                </div>


            </div>
            <div class="row ">

                <app-resenias-admin-valoradas></app-resenias-admin-valoradas>
            </div>

            <div class="row mt-5 pt-3">
                <h1 class="h1-tittle">Todas las Resenias</h1>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4 ">
                    @for (resenia of arrayResenias(); track resenia.id) {
                    <!-- <app-card-boda [boda]="boda"></app-card-boda> -->
                    <app-card-resenias-admin [resenia]="resenia"></app-card-resenias-admin>
                    }
                </div>
            </div>
        </div>
    </div>





    <!-- </div> -->
</div>
