// ----------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------
$color-primary: #ff5255;
$color-primary-strong: #ff1744;

// ----------------------------------------------------------
// FIX DE Z-INDEX PARA OFFCANVAS/OVERLAYS
// ----------------------------------------------------------
.offcanvas {
    z-index: 1050;
}

.cdk-overlay-container {
    z-index: 1100;
}

// ----------------------------------------------------------
// INPUT DE BÚSQUEDA
// ----------------------------------------------------------
.busqueda {
    border: 2px solid $color-primary;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    font-size: 0.95rem;
}

// ----------------------------------------------------------
// BOTÓN FILTRO
// ----------------------------------------------------------
.btn-filtro {
    svg {
        width: 24px;
        height: 24px;
        padding-left: 4px;
    }
}

// ----------------------------------------------------------
// BOTÓN PRINCIPAL (GLASS-btn REFORMULADO)
// ----------------------------------------------------------
.glass-btn {
    background-color: $color-primary;
    border: 1.5px solid $color-primary;

    border-radius: 30px;
    color: white;

    font-size: 1rem; 
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
   

    &:hover {
        border-color: $color-primary;
        color: $color-primary;
    }
}