

.offcanvas {
    z-index: 1050;
}

.cdk-overlay-container {
    z-index: 1100; 
}

.busqueda {
    border: 2px solid #ff5255; // borde más grueso y visible
    border-radius: 8px; // bordes redondeados
    padding: 0.5rem 1rem; // espacio interno
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus-within {
        border-color: #ff1744; // color más intenso al enfocar
        box-shadow: 0 0 8px rgba(255, 82, 85, 0.3); // sombra ligera
    }
}

.btn-filtro {
    width: 160px !important;
    height: 40px !important;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.btn-filtro:hover {
    transform: scale(1.05);
}

.btn-filtro svg {
    width: 28px;
    height: 28px;
    padding-left: 5px;
}


