<div class="card  h-100  rounded-3 mx-auto " style="max-width: 22rem;">
    <!-- Imagen principal -->
    <a href="https://www.bodas.net/cronicas-boda/alvaro-ana--rw127759" class="text-decoration-none text-dark">

        @for (foto of boda()?.fotos; track foto.path; let idx = $index) {
        @if (idx === 0) {
        <div class="position-relative overflow-hidden rounded-top-3">
            <img [src]="foto?.url" class="card-img-top img-fluid" [alt]="boda()?.nombre_pareja"
                style="object-fit: cover; height: 220px;">
        </div>
        }
        }

        <!-- Miniaturas horizontales -->
        <div class="d-flex justify-content-center gap-2 mt-3 px-2 flex-wrap">
            @for (foto of boda()?.fotos; track foto.path; let idx = $index; let count = $count) {
            @if (idx !== 0 && count <= 3) { <img [src]="foto.url" class="rounded " [alt]="'miniatura'+idx" width="75"
                height="60" style="object-fit: cover;">
                }
                }
        </div>

        <!-- Cuerpo del card -->
        <div class="card-body text-center">
            <h5 class="card-title mb-1">{{ boda()?.nombre_pareja }}</h5>
            <p class="card-text text-muted small mb-0">
                {{ boda()?.fotos?.length }} Fotos · {{ boda()?.ubicacion }}
            </p>
        </div>
    </a>
</div>