// @use '@angular/material' as mat;

// :root {
//     @include mat.form-field-overrides((disabled-input-text-placeholder-color: orange,
//             disabled-leading-icon-color: red,
//         ));
// }

h1 {
    font-family: "Merriweather";
    font-size: 2em;
    line-height: 2.25rem;
}


.carousel {
    .carousel-inner {
        height: 18em;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}