<div class="fondo">
    <app-navbar></app-navbar>

    <div class="login-container">
        <div class="login-row">
            <div class="row g-0">
                <!-- imagen -->
                <div class="col-md-5 image-fondo d-none d-md-block"></div>

                <!-- formulario -->
                <div class="col-12 col-md-7 column-login">
                    <div class="login-content">

                        <h2 class="text-center mb-3">Accede a tu cuenta</h2>
                        <p class="text-center mb-4">
                            ¿No dispones de cuenta?
                            <a [routerLink]="['/registerUser']">Regístrate</a>
                        </p>

                        <div id="error_email" class="alert alert-danger d-none">
                            La dirección de correo o la contraseña son incorrectas.
                        </div>

                        <form (ngSubmit)="onSubmit($event)" [formGroup]="form">
                            <input type="hidden" id="urlR" name="urlR" value="">
                            <input type="hidden" name="isJsArchitectureEnabled" value="true">

                            <!-- EMAIL -->
                            <div class="bloque-total mb-3">
                                <div class="bloque-input" [ngClass]="{
                                    'group-invalid': form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty),
                                    'group-valid': form.get('email')?.valid && (form.get('email')?.touched || form.get('email')?.dirty)
                                }">
                                    <div class="input-group">
                                        <span class="input-group-text border-end-0 rounded-start-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4" />
                                            </svg>
                                        </span>
                                        <input type="email" formControlName="email" placeholder="Tu email"
                                            class="form-control border-start-0 rounded-end-2">
                                    </div>
                                </div>

                                <div class="bloque-info">
                                    <div class="text-danger small ms-1">
                                        @if (form.get('email')?.errors && (form.get('email')?.touched ||
                                        form.get('email')?.dirty)) {
                                        @if (form.get('email')?.hasError('required')) {El campo es obligatorio}
                                        @if (form.get('email')?.hasError('email')) {Debe contener formato válido}
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- PASSWORD -->
                            <div class="bloque-total mb-3">
                                <div class="bloque-input" [ngClass]="{
                                    'group-invalid': form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty),
                                    'group-valid': form.get('password')?.valid && (form.get('password')?.touched || form.get('password')?.dirty)
                                }">
                                    <div class="input-group">
                                        <span class="input-group-text border-end-0 rounded-start-2">
                                            <i class="bi bi-key"></i>

                                        </span>

                                        <input [type]="showPassword() ? 'text' : 'password'" formControlName="password"
                                            placeholder="Tu contraseña" class="form-control border-start-0 border-end-0"
                                            autocomplete="off">

                                        <button type="button" class="input-group-text border-start-0 "
                                            (click)="togglePassword()">

                                            <mat-icon>
                                                {{ showPassword() ? 'visibility_off' : 'visibility' }}
                                            </mat-icon>

                                        </button>
                                    </div>
                                </div>

                                <div class="bloque-info">
                                    <div class="text-danger small ms-1">
                                        @if (form.get('password')?.errors && (form.get('password')?.touched ||
                                        form.get('password')?.dirty)) {
                                        @if (form.get('password')?.hasError('required')) {El campo es obligatorio}
                                        @if (form.get('password')?.hasError('pattern')) {Debe incluir una mayúscula, un
                                        símbolo y un número}
                                        }
                                    </div>
                                </div>
                            </div>

                            @if (message()) {
                            <mat-card class="error-message mt-4 mb-4">
                                <span>{{ message() }} <mat-icon>error_outline</mat-icon></span>
                            </mat-card>
                            }



                            <div class="d-grid mb-4">
                                <button type="submit" [disabled]="form.invalid"
                                    class="btn submit-button btn-lg">Accede</button>
                            </div>

                            <p class="text-center mb-2">¿Eres profesional?</p>
                            <div class="text-center">
                                <a class="fw-bold" [routerLink]="['/dashboard-empresas']">Acceso para empresas</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>