.boda-style {

    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;

   
    /* ancho / alto */
    height: 11em;
    /* altura fija */
    
    margin: 4 1em;
}


.info-boda {
    padding: 5em;
}
.boda1 {
    flex: 1;
    /* Ocupa todo el espacio restante en el flex */
    background-image: url("../../assets/images/boda1.jpg");
    background-repeat: no-repeat;
    /* No repetir */
    background-position: center;
    /* Centrar */
    background-size: cover;
    /* Cubrir todo el contenedor */
    border-radius: 0 .5rem .5rem 0;
    /* Redondear solo la derecha */
}

// .info-boda {
//     padding-left: 5em;
//     /* Esto reduce el ancho disponible para .boda1 */
//}

// .boda1:hover {
//     transform: scale(1.05);
//     opacity: 0.9;

//     .boda-style {
//         border: 1px solid #ccc;
//         // padding-right: inherit !important;
//     }

//     border-radius: 0 .5rem .5rem 0;
//     overflow: hidden;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//     background-color: #fff;
// }

.info-boda h5 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.info-boda p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 1rem;
}

.counterItem__label {
    font-size: 0.75rem;
    color: #6c757d;
}

.counterItem__value {
    font-weight: 700;
    font-size: 1rem;
    color: #343a40;
}

.img-see {
    width: 4.5em;
    height: auto;
    margin-bottom: 0.5em;
}

.img-see2 {
    height: 5em;
}

.service-text {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    text-align: center;

}

.boda-style.secundaria {
    flex: 1 1 200px;
    max-width: 180px;
    /* ancho máximo */
  
}