<app-navbar></app-navbar>
<hr class="pb-0 mb-0 me-0 pe-0">

<app-buscador></app-buscador>

<div class="container ">

    <app-card-actividades-novia></app-card-actividades-novia>
</div>
<div class="personal-container">

    <h1 class="h1-tittle">Empresas</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        @for (empresa of empresas$(); track empresa.id) {
        <div class="col">
            <app-card-empresa [empresa]="empresa"></app-card-empresa>
        </div>
        }
    </div>


    <h1 class="h1-tittle">Bodas Reales</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        @for (boda of bodas$(); track boda.id) {
        <app-card-boda [boda]="boda"></app-card-boda>
        }
    </div>
</div>