<div class="card boda-card text-center w-100">
    <!-- <h6 class="h5">{{tittle()}}</h6> -->

    @if (loading()) {
    <div class="placeholder-glow w-100">
        <div class="d-flex flex-column align-items-center">
            <h6 class="placeholder col-7 mb-3"></h6>
            <h3 class="placeholder col-2 mb-2"></h3>
            <span class="placeholder col-7"></span>
        </div>
    </div>
    }
    @else if (error()) {
    <p class="text-danger">{{ error() }}</p>
    }
    @else if (reservas()!.length > 0) {
    <h6 class="h5">{{tittle()}}</h6>

    <span class="service-text">
        {{ today() | date:'MMMM':'': 'es' | titlecase }}
    </span>

    <div class="h1">
        {{ reservas()!.length }}


    </div>

    <span class="service-text">Total este mes</span>

    }
    @else {
    <h6 class="h5">{{tittle()}}</h6>
    <p>No hay reservas.</p>
    }

</div>