// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'theme-colors.scss' as theme;


// html {
//   @include mat.theme((
//     color: (
//       theme-type: light,
//       primary: mat.$red-palette,
//       tertiary: mat.$red-palette,

//       ),
//     typography: ProximaNovaSemi ,
//     density: 0,
//   ));
// }


html {
    @include mat.theme((color: (theme-type: light,
                primary: theme.$primary-palette ,
                tertiary: theme.$primary-palette,
            ),
            typography: ProximaNovaSemi,
            density: 0,
        ));
}

@include mat.list-overrides((active-indicator-color: red,
        active-indicator-shape: 5px,
        list-item-hover-trailing-icon-color: red,
    ));

@include mat.form-field-overrides((disabled-input-text-placeholder-color: green,
        disabled-leading-icon-color: blue,
        active-indicator-color: red,
    ));

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
// @use '@angular/material' as mat;

// html {
//     @include mat.theme((color: (theme-type: light,
//                 primary: mat.$red-palette,
//                 tertiary: mat$red-palette,
//             ),
//             typography: Roboto,
//             density: 0,
//         ));
// }

// @use '@angular/material' as mat;

// :root {
//     @include mat.form-field-overrides((disabled-input-text-placeholder-color: orange,
//             disabled-leading-icon-color: blue,

//         ));
// }

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-regular.woff2') format('woff2');
    // url('/assets/fonts/MiFuente/mifuente.woff') format('woff'),
    // url('/assets/fonts/MiFuente/mifuente.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/fonts/Merriweather-Bold.woff2');
}

@font-face {
    font-family: "ProximaNovaSemi";
    src: url('./assets/fonts/ProximaNova-semibold.woff2');
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}