<a [routerLink]="['/proveedores/detalles', empresa()?.id]" class="text-decoration-none">
  <mat-card class="example-card" appearance="outlined">

    @for (imagen of empresa()?.fotos; track imagen.url; let idx = $index) {
      @if (idx === 0) {
        <img mat-card-image [src]="imagen.url" alt="{{ empresa()?.nombre_empresa }}" />
      }
    }

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h6>{{ empresa()?.nombre_empresa }}</h6>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>{{ empresa()?.poblacion?.nombre }}</p>
    </mat-card-content>

  </mat-card>
</a>
